<div class="container">
    <mat-toolbar class="navbar">
        <div class="logo">
            <span class="yellow">Just</span><span>Dim</span>
        </div>
        <nav>
            @for (menu of menus; track menu.label) {
                @if (menu.path) {
                    <button 
                        mat-button
                        [routerLink]="menu.path"
                        routerLinkActive="active-menu"
                        [routerLinkActiveOptions]="{ exact: menu.exact }">
                    {{ menu.label }}
                    </button>
                } @else {
                    <button mat-button>{{ menu.label }}</button>
                }
            }
        </nav>

        <div class="search">
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input
                    matInput
                    placeholder="Rechercher un film ou une série"
                >
            </mat-form-field>
        </div>

        <div class="actions">
            <button mat-icon-button class="action-btn__account" aria-label="Compte" (click)="openDialog()">
                <mat-icon>manage_accounts</mat-icon>
            </button>
            <button mat-icon-button class="action-btn__menu" aria-label="Menu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>