.filter-panel {
  color: #e5e7eb;
  background: #11151f;
  display: flex;
  padding: 15px 64px;
}

.filter-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.is-active {
  color: #f5c518;
}

.criteria-panel {
  background: #11151f;
  padding: 10px 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: #f5c518;
    cursor: pointer;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

  &__list {
    column-gap: 10px; 
    display: grid; 
    grid-template-columns: 50% 50%;
  }

  &__range {
    min-width: 500px;

    &__slider {
      display: flex; 
      align-items: center;
    }

    &__actions {
      display: flex;
      margin-top: 10px;
    }
  }

  &__end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.filter-trigger {
  color: white;
}

.filter_area {
  width: 240px;

  &__start,
  &__end {
    color: white;
  }

  &__start {
    margin-right: 10px;
  }

  &__end {
    margin-left: 10px;
  }
}