<div class="filter-panel">

    @for (criteria of criterias; track criteria.label) {
    <div class="filter-items">
        <span [class.is-active]="hasSelectedGenres()">{{criteria.label}}</span>
        <button 
            mat-icon-button 
            class="filter-trigger"
            [matMenuTriggerFor]="criteriaMenu"
            (menuOpened)="onGenresMenuOpened()"
            (menuClosed)="onGenresMenuClosed()" 
        >
        @if (isOpened()) {
            <mat-icon [class.is-active]="hasSelectedGenres()">expand_less</mat-icon>
        } @else {
            <mat-icon [class.is-active]="hasSelectedGenres()">expand_more</mat-icon>
        }
        </button>
    </div>
    
    <mat-menu #criteriaMenu="matMenu" class="criteria-menu" [overlapTrigger]="false" yPosition="below">
        <div class="criteria-panel" (click)="$event.stopPropagation()">
            <div class="criteria-panel__header">
                <span class="criteria-panel__title">{{criteria.label}}</span>
                <button 
                    class="criteria-panel__reset"
                    (click)="reset()">
                    <mat-icon>close</mat-icon>
                    Réinitialiser
                </button>
            </div>
    
            <div class="criteria-panel__grid">
                    @for (item of criteria.value; track item.id) {
                    <mat-checkbox 
                        class="btn-checkbox"
                        [checked]="isSelected(item.id)"
                        (change)="toggleItem(item)"
                        (click)="$event.stopPropagation()">
                        {{ item.name}}
                    </mat-checkbox>
                    }
            </div>
        </div>
    </mat-menu>
    }
</div>
