.filter-panel {
  color: #e5e7eb;
  background: #11151f;
  display: flex;
  padding: 15px 64px;
}

.filter-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.is-active {
  color: #f5c518;
}

.criteria-panel {
  padding: 10px;
  background: #11151f;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: #f5c518; // jaune vu sur ta capture
    cursor: pointer;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter-trigger {
  color: white;
}