.dialog-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 70vh;
}

.provider-container {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    margin: 0 10px;
}

.provider-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px;
    width: 100%;
    padding-right: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2c2c2c;
}

.provider-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.provider-name {
    margin-inline-start: 16px;
}

.chip-list {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
  padding: 8px 8px 0;
}

.provider-logo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.primary {
    background-color: #fbc500!important;
    color: #000!important;
    font-weight: 700;
    border: none;
}

.rounded {
    border-radius: 18px;
}

.sub-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #111924;
    border-radius: 12px;
    padding: 10px 16px;
}

.sub-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sub-title {
    margin: 0 0 8px;
}

.dialog-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
}

.dialog-action {
    margin-top: 0;
    padding: 10px;
    width: 100%;
}
