<h2 mat-dialog-title>Choisissez vos services de streaming</h2>

<mat-dialog-content class="mat-typography dialog-content">
  <div class="chip-list">
      @for (provider of selectedProviders(); track provider.provider_id) {
        <icon-chip
          [iconUrl]="provider.logo_path | tmdbImage:'w45'"
          [label]="provider.provider_name"
          (removed)="removeProvider(provider.provider_id)"
        ></icon-chip>
      }
  </div>
  <div class="sub-list">
    <div class="sub-name">
      <h3 class="sub-title">Abonnement </h3>
      <span>{{ countProvidersSelected() | number:'1.0-0' }} service(s) de streaming selectionnés</span>
    </div>
    <mat-checkbox 
      class="btn-checkbox"
      [indeterminate]="partiallyComplete()"
    ></mat-checkbox>
  </div>
  <section class="provider-container">
    @if (providers.hasValue()) {
        @for (provider of providers.value().results; track provider.provider_id) {
            <div class="provider-items">
                <div class="provider-info">
                    <img mat-card-image class="provider-logo" [src]="provider.logo_path | tmdbImage:'w45'" [alt]="provider.provider_name"/>
                    <span class="provider-name">{{ provider.provider_name }}</span>
                </div>
                <mat-checkbox 
                    class="btn-checkbox"
                    [checked]="isSelected(provider.provider_id)"
                    (change)="toggleProvider(provider.provider_id, provider.provider_name, provider.logo_path)"
                ></mat-checkbox>
            </div>
        }
    }
  </section>
</mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
  <button class="dialog-action primary rounded" [mat-dialog-close]="true" (click)="save()">Terminé</button>
</mat-dialog-actions>